@import 'modules/variables';
@import 'partials/normalize';
@import 'partials/reset';

/**
 * Mustafa's Styles
 */

html {
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}

body {
  position: relative;
  color: #808C90;
  font-family: 'Basis Grotesque Pro Off-White', 'Helvetica Neue', Arial, Droid, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 2.0;
}

a {
  color: #404C50;
  text-decoration: none;
  transition: color 500ms ease;
}

.primary,
.secondary {
  position: absolute;
  max-width: 800px;
  width: 90%;
  mix-blend-mode: multiply;
  z-index: 9;
}

.primary {
  top: 50%; left: 50%;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
  opacity: 0.0;
  transform: translate(-50%, -50%);
  transition:
    transform 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000),
    opacity 700ms ease,
    color 500ms ease;
}

.secondary {
  position: absolute;
  bottom: 20px; left: 50%;
  font-size: 1rem;
  opacity: 0.0;
  transform: translateX(-50%);
  transition:
    opacity 700ms ease;
}

.secondary p {
  margin: -0.25em 0;
}

.info {
  position: absolute;
  padding: 40px 20px 20px 40px;
  right: 0; bottom: 0;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.0;
  z-index: 11;
  transition:
    opacity 700ms ease;
}

.info img {
  display: block;
  width: 16px;
  height: 16px;
}

.canvas {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.dot {
  position: absolute;
  border-radius: 50%;
}

/**
 * States
 */

.wf-active .primary,
.wf-active .info {
  opacity: 0.99;
}

.link-hovered .primary,
.link-hovered .primary a {
  color: #B0BEC6;
}

.link-hovered .primary a:hover {
  color: #404C50;
}

.info-hovered .primary {
  opacity: 0.25;
}

.info-hovered .secondary {
  opacity: 1.0;
}

/**
 * Media Queries
 */

@media only screen and (max-width: 40em) {
  html {
    font-size: 14px;
  }
  main {
    width: 85%;
  }
}
