@import 'modules/variables';
@import 'partials/normalize';
@import 'partials/reset';

/**
 * Mustafa's Styles
 */

html {
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}

body {
  position: relative;
  color: #808C90;
  font-family: 'Basis Grotesque Pro Off-White', 'Helvetica Neue', Arial, Droid, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 2.0;
}

a {
  color: #404C50;
  text-decoration: none;
  transition: color 200ms ease;
}

main {
  position: absolute;
  top: 50%; left: 50%;
  max-width: 800px;
  width: 90%;
  z-index: 9;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
  opacity: 0.0;
  transform: translate(-50%, -50%) translateY(2rem);
  transition:
    transform 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000),
    opacity 400ms ease,
    color 200ms ease;
  html.wf-active & {
    opacity: 0.99;
    transform: translate(-50%, -50%) translateY(0);
  }
}

main.hovered,
main.hovered a {
  color: #B0BEC6;
}

main a:hover {
  color: #404C50;
}

.canvas {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.dot {
  position: absolute;
  border-radius: 50%;
}

@media only screen and (max-width: 40em) {
  html {
    font-size: 14px;
  }
  main {
    width: 85%;
  }
}
